.footer {
    position: relative;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #FCF6D7 35.5%,#FCF6D7 60%, #FCF6D7 79.5%, #FFED8C 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    padding: 0 50px;
    overflow: hidden; 
    z-index: 100;
  }
  
  .footer_menu, .footer_menu2 {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .footer_menu div, .footer_menu2 div, .customer {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .customer {
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 0px;

  }
  

  .beautiful img {
    width: 100px;
    top: 20px;
    left: 20px;
  }
  
  .varlet img {
    width: 500px;
    height: 500px;
    top: 10px;
    left: 70%;
    mix-blend-mode: multiply;
  }
  
  .starfish img {
    width: 50px;
    top: 20px;
    left: 20px;
  }
  
  .treasure-chest img {
    position: absolute;
    width: 70px;
    bottom: 15px;
    right: 10px;

  }
  
  .seashell img {
    width: 40px;
    bottom: 30px;
    left: 150px;
  }
  
  .clam img {
    position: absolute;
    width: 50px;
    top: 30px;
    right: 150px;

  }
