.header {
    position: absolute;
    width: 100%;
    height: 100px;
    mix-blend-mode: normal;
    margin-bottom: 5px;
}

.category_menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: 1000;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.logo img {
    width: 400px;
    height: 70px;
    mix-blend-mode: normal;
    cursor: pointer;
}

.contents,
.rcommunity,
.reviewBoard,
.mycourse,
.login,
.join,
.myinfo,
.logout {
    font-family: 'Mplus 1p Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18.5px;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
    margin: 0 10px;
}

.rcommunity {
    width: 140px;
    height: 27px;
}

.contents {
    width: 60px;
    height: 27px;
}

.reviewBoard {
    width: 100px;
    height: 27px;
}

.mycourse {
    width: 160px;
    height: 27px;
}

.login {
    width: 60px;
    height: 27px;
}

.join {
    width: 80px;
    height: 27px;
    margin-right: 20px;;

}

.myinfo {
    width: 60px;
    height: 27px;
}

.logout {
    width: 80px;
    height: 27px;
    margin-right: 20px;;
}

.profileimg {

    width:70px;
    height:70px;
    border: 1px solid black;
    border-radius: 50%;
}

.profileimg img {
    width:69px;
    height:68px;
    z-index: 4;
    border-radius: 50%;
}

.loginUserInfo {
    display: flex;
    align-items: center;
}

.auth-buttons {
    display: flex;
    align-items: center;
}