.header {
    position: absolute;
    width: 100%;
    height: 100px;
    mix-blend-mode: normal;
    margin-bottom: 5px;
}

.category_menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: #8af5f5cc; /* White with 80% opacity */
    backdrop-filter: blur(5px); /* Optional: Adds a blur effect to the background */
    border-radius: 0 0 20px 20px;
}

.logo img {
    width: 400px;
    height: 70px;
    mix-blend-mode: normal;
    cursor: pointer;
}

.contents, .rcommunity, .reviewBoard, .mycourse, .login, .join, .myinfo, .logout {
    font-family: 'Mplus 1p Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18.5px;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
    margin: 0 10px;
}

.rcommunity {
    width: 140px;
    height: 27px;
}

.contents {
    width: 60px;
    height: 27px;
}

.reviewBoard {
    width: 100px;
    height: 27px;
}

.mycourse {
    width: 160px;
    height: 27px;
}

.login {
    width: 60px;
    height: 20px;
}

.join {
    width: 80px;
    height: 20px;
    margin-right: 20px;;
}

.myinfo {
    width: 60px;
    height: 20px;
}

.logout {
    width: 80px;
    height: 20px;
    margin-right: 20px;;
}

.profileimg {
    width:67px;
    height:67px;
}

.profileimg img {
    width:70px;
    height:70px;
    z-index: 4;
    border-radius: 50%;
}

.loginUserInfo{
    display: flex;
    align-items: center;
}

.auth-buttons {
    display: flex;
    align-items: center;
}




