/* Timetable.css */
.timetable {
    display: grid;
    grid-template-rows: auto;
    gap: 1px;
    background-color: #ccc;
    width:100%;
}
tbody{
    width:100%;
}
.timetabletr{
    position:'fixed';
    display:flex;
    justify-content: space-around;
}
.theader {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    position: fixed;
    top: 0;
}

th{
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    top: 0;
    border-collapse: collapse;
}

.time {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    left: 0;
}

.cell {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    /* border: 1px solid #ddd; */
    height: 50px;
    cursor: pointer;
    width:100%;
    border-collapse: collapse;
}

.contentscell{
    background-color: #fff;
    text-align: center;
    padding: 10px;
    /* border: 1px solid #ddd; */
    height: 50px;
    cursor: pointer;
}

.dayschedule{
    position: absolute;
    top:0;
    left:310px;
    background-color: red;
    color:white;    
    text-align: center;
    padding: 0;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ddd;
}

/* .cell:hover {
    background-color: #e0e0e0;
} */

.schedulebox{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    top:0%;
}